{% extends 'base.html.twig' %}

{% block title %}Messages index{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <main class="index-admin">
        {% include 'admin/_menu-admin.html.twig' %}
        <div class="container-right">
            <h1 class="text-center">Liste des Messages</h1>
            {% for message in messages %}
                <div class="container-card-message d-flex justify-content-center align-items-center flex-column">

                    <div class="message-number">
                        Message #{{ message.id }}
                        <a href="{{ path('admin_message_read', {'id': message.id}) }}">
                            {% if message.messageRead == 0 %}
                                <button class="envelope btn-lg"><i class="fa fa-envelope"></i></button>
                            {% else %}
                                <button class="envelope btn-lg"><i class="fa fa-envelope-open"></i></button>
                            {% endif %}
                        </a>
                        {{ include('admin/message/_delete_form.html.twig') }}
                    </div>

                    <div class="info-contact">
                        <span>Nom</span>
                        <div class="contact">
                            {{ message.name }}
                        </div>
                    </div>

                    <div class="info-contact">
                        <span>Email</span>
                        <div class="contact">
                            {{ message.email }}
                        </div>
                    </div>

                    <div class="info-contact">
                        <span>Sujet</span>
                        <div class="contact-text">
                            {{ message.message }}
                        </div>
                    </div>

                </div>
            {% else %}
                <div class="d-flex justify-content-center align-items-center empty-message">
                    AUCUN MESSAGES MONSIEUR
                </div>
            {% endfor %}
            <div class="d-flex justify-content-center align-items-center flex-column">
                <a class="button-back-home-mobile" href="{{ path('admin_project_index') }}">Retour</a>
                <a class="button-back-home" href="{{ path('admin_project_index') }}">Retour</a>
            </div>
        </div>
    </main>
{% endblock %}
