{% extends 'base.html.twig' %}

{% block title %}Messages index{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <main class="index-admin">
        {% include 'admin/_menu-admin.html.twig' %}
        <div class="container-right">
            <h1 class="text-center">Liste des Messages</h1>
            {% for message in messages %}
                <div class="container-card-user">
                    <div class="infos-user flex-column">
                        <div class="d-flex infos-message">
                            <div><span>Id:</span> {{ message.id }}</div>
                            <div><span>Nom:</span> {{ message.name }}</div>
                            <div><span>Email:</span> {{ message.email }}</div>
                        </div>
                        <div class="contact-message d-flex flex-column align-items-center">
                            <p>Message:</p> {{ message.message }}
                        </div>
                    </div>
                    <div class="container-button-edit-delete-user">
                        {{ include('admin/message/_delete_form.html.twig') }}
                    </div>
                </div>
            {% else %}
                <div class="d-flex justify-content-center align-items-center empty-message">
                    AUCUN MESSAGES MONSIEUR
                </div>
            {% endfor %}
            <div class="d-flex justify-content-center align-items-center flex-column">
                <a class="button-back-home-mobile" href="{{ path('admin_project_index') }}">Retour</a>
                <a class="button-back-home" href="{{ path('admin_project_index') }}">Retour</a>
            </div>
        </div>
    </main>
{% endblock %}
