{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <h1 class="text-center">Message</h1>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-md-10 col-lg-8">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ message.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ message.name }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ message.email }}</td>
                    </tr>
                    <tr>
                        <th>Messages</th>
                        <td>{{ message.message }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="{{ path('admin_message_index') }}">Retour</a><br />

    <a href="{{ path('admin_message_edit', {'id': message.id}) }}">Editer</a>

    {{ include('admin/message/_delete_form.html.twig') }}
{% endblock %}
