<div class="links-container-top-mobile">
    <nav class="navbar navbar-expand-lg navbar-light nav-admin-mobile">

        <div class="header-mobile-admin">
        <div class="navbar-brand title-admin">Administration</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                style="outline-style: none">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <div class="form-inline my-2 my-lg-0 mobile-nav">
                <a class="nav-link admin-button button-hover" href="{{ path('admin_client_index') }}">
                    Voir les clients
                </a>

                <a class="nav-link admin-button button-hover" href="{{ path('admin_picture_index') }}">
                    Voir les photos
                </a>

                <a class="nav-link admin-button button-hover" href="{{ path('admin_techno_index') }}">
                    Voir les technos
                </a>

                <a class="nav-link admin-button button-hover" href="{{ path('admin_user_index') }}">
                    Voir mon profil
                </a>

                <a class="nav-link admin-button button-hover" href="{{ path('admin_message_index') }}">
                    Voir mes messages
                </a>
                <div class="admin-button button-new-project"
                     onclick="window.location.href = '{{ path('admin_project_new') }}'">
                    Nouveau projet
                </div>

                <div class="admin-button button-back"
                     onclick="window.location.href = '{{ path('app_homeIndex') }}'">
                    Retour
                </div>

                <div class="admin-button button-logout"
                     onclick="window.location.href = '{{ path('app_logout') }}'">
                    Déconnexion
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="links-container-left-desktop">
    <h1 class="title-admin">Administration</h1>

    <div class="admin-button button-hover" onclick="window.location.href = '{{ path('admin_client_index') }}'">
        Voir les clients
    </div>

    <div class="admin-button button-hover" onclick="window.location.href = '{{ path('admin_picture_index') }}'">
        Voir les photos
    </div>

    <div class="admin-button button-hover" onclick="window.location.href = '{{ path('admin_techno_index') }}'">
        Voir les technos
    </div>

    <div class="admin-button button-hover" onclick="window.location.href = '{{ path('admin_user_index') }}'">
        Voir mon profil
    </div>

    <div class="admin-button button-hover" onclick="window.location.href = '{{ path('admin_message_index') }}'">
        Voir mes messages
    </div>

    <div class="container-button-left">
        <div class="admin-button button-new-project"
             onclick="window.location.href = '{{ path('admin_project_new') }}'">
            Nouveau projet
        </div>

        <div class="admin-button button-logout" onclick="window.location.href = '{{ path('app_logout') }}'">
            Déconnexion
        </div>
    </div>
</div>
