{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Administration</h1>
    <ul>
        <li><a href="{{ path('client_index') }}">Gestion des clients</a></li>
        <li><a href="{{ path('picture_index') }}">Gestion des photos</a></li>
        <li><a href="{{ path('project_index') }}">Gestion des projets</a></li>
        <li><a href="{{ path('techno_index') }}">Gestion des technos</a></li>
        <li><a href="{{ path('user_index') }}">Gestion des utilisateurs</a></li>
        <li><a href="{{ path('message_index') }}">Gestion des messages</a></li>
    </ul>
{% endblock %}
