<div class="container h-100">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-10 col-lg-8">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="d-flex justify-content-between">
                <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
                {{ form_end(form) }}
                <a class="btn btn-warning" href="{{ path('admin_client_index') }}">Retour</a>
            </div>
        </div>
    </div>
</div>