{% extends 'base.html.twig' %}

{% block title %}Pictures index{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <main class="index-admin">
        {% include 'admin/_menu-admin.html.twig' %}
        <div class="container-right">

            <h1 class="text-center">Liste des Photos</h1>

            {% for picture in pictures %}
                <div class="container-card">
                    <div class="image-project">
                        <img src="{{ vich_uploader_asset(picture, 'pictureFile') }}" alt="{{ picture.name }}"/>
                    </div>
                    <div class="container-photo-project">
                        <span> Url : {{ picture.name }}</span>
                        <span>Projet : {{ picture.project.name }}</span>
                    </div>
                    <div class="container-button-edit-delete">
                        <a class="btn-edit" href="{{ path('admin_picture_edit', {'id': picture.id}) }}">Editer</a>
                        {{ include('admin/picture/_delete_form.html.twig') }}
                    </div>
                </div>
            {% endfor %}
            <div class="d-flex justify-content-center align-items-center flex-column">
                <a class="add" href="{{ path('admin_picture_new') }}">Ajouter une photo</a>
                <a class="button-back-home-mobile" href="{{ path('admin_project_index') }}">Retour</a>
                <a class="button-back-home" href="{{ path('admin_project_index') }}">Retour</a>
            </div>
        </div>
    </main>
{% endblock %}
