{% extends 'base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block body %}

    <h1 class="text-center title-admin">Administration</h1>
    <main class="index-admin">
        <div class="links-container">
            <img src="{{ asset('img/gear.svg') }}" alt="Settings">
            <ul>
                <li><a href="{{ path('admin_client_index') }}">Gérer les clients</a></li>
                <li><a href="{{ path('admin_picture_index') }}">Gérer les photos</a></li>
                <li><a href="{{ path('admin_techno_index') }}">Gérer les technos</a></li>
                <li><a href="{{ path('admin_user_index') }}">Gérer mon profil</a></li>
                <li><a href="{{ path('admin_message_index') }}">Gérer mes messages</a></li>
            </ul>
            <div class="admin-btn-menu">
                <a class="btn btn-success" href="{{ path('admin_project_new') }}">Nouveau projet</a><br />
                <a class="btn btn-warning" href="{{ path('app_homeIndex') }}">Retour</a><br />
                <a class="btn btn-danger" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        </div>

        <table class="table table-project">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description des projets</th>
                <th>Date</th>
                <th>Photos</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td class="id-project">{{ project.id }}</td>
                    <td class="id-project">{{ project.name }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.date ? project.date|date('Y-m-d') }}</td>
                    <td>
                        {% if project.picture[0] is not defined %}
                            <img src=" {{ asset('img/paper.jpeg') }}" alt="Image papier et stylo" height="130px" />
                        {% else %}
                            <img src="{{ vich_uploader_asset(project.picture[0], 'pictureFile') }}"
                                 alt="{{ project.name }}" height="130px" />
                        {% endif %}
                    </td>
                    <td class="container-btn">
                        <a class="btn-see" href="{{ path('app_project_show', {'slug': project.slug}) }}">Voir</a>
                        <a class="btn-edit" href="{{ path('admin_project_edit', {'slug': project.slug}) }}">Editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
