{% extends 'base.html.twig' %}

{% block title %}Projects index{% endblock %}
{% block header %}{% endblock %}
{% block body %}

    <main class="index-admin">
        {% include 'admin/_menu-admin.html.twig' %}
        <div class="container-right">

            <button class="button-back-home" type="button"
                    onclick="window.location.href = '{{ path('app_homeIndex') }}';">
                Back Home
            </button>

            <h1 class="text-center">Liste des projets</h1>

            {% for project in projects %}

                <div class="container-card">
                    <div class="image-project zoom effect">
                        {% if project.picture[0] is not defined %}
                            <img src=" {{ asset('img/paper.jpeg') }}" alt="Image papier et stylo"/>
                        {% else %}
                            <img src="{{ vich_uploader_asset(project.picture[0], 'pictureFile') }}"
                                 alt="{{ project.name }}"/>
                            <div class="btn-see btn-see-hover"
                                 onclick="window.location.href = '{{ path('app_project_show', {'slug': project.slug}) }}'">
                                Voir
                            </div>
                        {% endif %}
                    </div>
                    <div class="title">
                        <h4>{{ project.name }}</h4>
                    </div>

                    <div class="container-button-edit-delete">

                        <div class="btn-edit"
                             onclick="window.location.href = '{{ path('admin_project_edit', {'slug': project.slug}) }}'">
                            Editer
                        </div>
                        {{ include('admin/project/_delete_form.html.twig') }}
                    </div>
                </div>
                {% else %}
                <div class="d-flex justify-content-center align-items-center empty-message">
                    AUCUN PROJETS
                </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}
