{% extends 'base.html.twig' %}

{% block body %}

    <div class="header">
        <div class="header-picture">
            {% for user in users %}
                <img src="{{ user.picture }}" alt="image de profile">
                <h5 class="function">{{ user.fonction }}</h5>
            {% endfor %}
            <a href="#search-projects" class="container-arrow">
                <div class="arrow">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
        </div>
    </div>
    <div id="search-projects" class="container-projects">
        <h2 class="title-project">Mes projets</h2>
        <div class="container-cards">
            {% for project in projects %}
                <div class="card-project zoom effect">
                    <img src="{{ vich_uploader_asset(project.picture[0], 'pictureFile') }}" alt="image du projet"/>
                    <a class="button button-on-hover" href="{{ path('project_show', {'slug':project.slug}) }}">
                        {{ project.name }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}