{% extends 'base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="header-picture">
            <img src="{{ asset("img/steph.jpg") }}" alt="image de profile">
            {% for user in users %}
                <h5 class="function">{{ user.fonction }}</h5>
            {% endfor %}
            <a href="#search-projects" class="container-arrow">
                <div class="arrow">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
        </div>
    </div>
    <div id="search-projects" class="container-projects">
        <h2 class="title-project">Mes projets</h2>
        <div class="container-cards">
            {% for project in projects %}
                <div class="card-project">
                    <a href="{{ path('project_show', {'id':project.id}) }}">
                        <span>{{ project.name }}</span>
                        <img src="{{ project.picture[0].name }}" alt="image du projet">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}